:root{
    --container_size:600px;
    
}

.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    
}
.chat_container{
    width: var(--container_size);
    background:linear-gradient(to right,rgb(121, 121, 192),pink);
    margin: auto;
    height:70vh;
    
    overflow: auto;
    border: 3px solid rgb(154, 247, 15);
    box-shadow:1px 0px 1px black;
    border-bottom: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.message{
  
    width: 60%;
    padding: 8px;
    margin: 8px 5px;
    /* border-radius: 5px; */
    filter: drop-shadow(1px 1px 1px black);
    display:ruby-text-container;
    overflow: auto;
    /* flex-wrap: wrap;
    overflow: hidden; */
    overflow-x:hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: blue;
}
.left{
    float: left;
    clear: both;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0px;
    background: linear-gradient(to right, rgb(193, 244, 11),rgb(11, 178, 11));

}
.right{
    float: right;
    clear: both;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(to right, rgb(11, 178, 11),rgb(193, 244, 11));
}
.send{
    width: var(--container_size);
    margin: auto;
    background:linear-gradient(to right,rgb(121, 121, 192),pink);
    border: 3px solid rgb(154, 247, 15);
    box-shadow:1px 1px 1px black;
    border-top: none;
    padding: 5px;
    box-sizing: border-box;
}
.message_input{
    width: calc(100% - 120px);
    height: 30px;
    border:2px solid blue;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(240, 137, 10);
    padding: 2px;
}
.btn_send{
    width: 100px;
    height: 32px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,blue,blue);
    border-radius: 5px;
    box-shadow:1px 1px 1px rgb(85, 63, 63);
    color: aquamarine;
    border: none;
}
.message_input::placeholder{
    font-size: 18px;
 color: rgb(10, 240, 164);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.user_name{
    color: rgb(131, 38, 8);
    font-size: 12px;
    font-family: monospace;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.time_show{
    float: right;

}
.message_extra{

    min-height: 8px;
    /* background: rgb(59, 59, 10); */
    filter: blur(1);
    width: 60%;
    padding: 8px;
    margin: auto;
    clear: both;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(95, 49, 4);
    font-size: 12px;
    font-family: cursive;
    border: none;
    border-radius: 3px;
    filter: drop-shadow(1px 2px 2px rgb(7, 230, 96));
    
}

.VP_UPDATE{
    background: rgb(82, 72, 72);
    width: 90%;
    display: flex;
    min-height: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: aqua;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid aquamarine;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.plateform{
    font-size: medium;
    font-weight: bolder;
    font-family: cursive;
    color: aqua;
    filter: drop-shadow(1px 1px 2px black);
}
header{
    height: 50px;
    background: rgb(60, 255, 0);
    width: var(--container_size);
    margin: auto;
    border-top:  3px solid rgb(154, 247, 15);
    border-left:  3px solid rgb(154, 247, 15);
    border-right:  3px solid rgb(154, 247, 15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
body{
    margin: 0px;
    padding: 0px;
    /* position: fixed; */
}
.menu,.profile{
    height: 40px;
    width: 40px;
    
    display: block;
    margin: 1px 15px;
    box-sizing: border-box;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    pointer-events:painted;
}
.profile{
    /* background: linear-gradient(to right, rgb(11, 178, 11),rgb(193, 244, 11)); */
    border-radius: 50%;
    filter: drop-shadow(1px 1px 1px black);
    border:2px solid rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.menu_strip{
    height: 6px;
    background: linear-gradient(to right bottom, yellowgreen,rgb(193, 244, 11));
    width: 80%;
    margin: 3px;
    border-radius: 5px;
    filter: drop-shadow(1px 1.1px 1.3px black);
}
#side_bar_cont{
    height: 100%;
    width: 250px;
    background: linear-gradient(to right, rgb(11, 178, 11),rgb(193, 244, 11));
   
    position: sticky;
    z-index: 100;
    top: 0px;
    transition: 0.5s;
    left: -250px;
    /* left: -240px; */
}
.user_joined_list{
    height: 50px;
    width: var(--container_size);
    background:linear-gradient( to right,rgb(0, 255, 255),pink,rgb(0, 255, 255));
    margin: auto;
    display: flex;
    align-items: center;

    
}
#group_name{
    font-size: 20px;
    font-weight: bolder;
    font-family: fantasy;
    display: list-item;
    list-style: none;
    color: rgb(249, 10, 233);
    filter: 2px 1px 1px black;
}

.community_profile{
background: rgb(249, 246, 246);
height: 45px;
filter: drop-shadow(1px 1.1px 1.3px black);
width: 45px;
overflow: hidden;
border-radius: 50%;
}
#seen_data{
    font-size: medium;
    font-weight: bolder;
    color: rgb(233, 19, 55);
    font-family: monospace;
    /* filter:drop-shadow( 1px 1px 1px black); */
}
@media only screen and (max-width:600px) {
    .chat_container{
        width: 100%;
        height: calc(100vh - 210px);
    }
    .send{
        width: 100%;
    }
    header{
        width: 100%;
    }
    #side_bar_cont{
        height: calc(100% - 50px);
        position: fixed;
        top: 50px;
    }
    .user_joined_list{
        width: 100%;
    }
}